@import '../../styles/include.scss';

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  background: $colorWhite;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.container {
  @extend %content-container;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  padding: 20px 0;
  svg {
    height: 3.75rem;
    width: auto;
    & path {
      fill: $colorAccent;
    }
    @media #{$phone} {
      height: 2.67rem;
    }
  }
  @media #{$phone} {
    padding: 10px 0;
  }
}
